* {
    box-sizing: border-box;
}
  
body {
    margin: 16px;
    font-family: 'Montserrat', sans-serif;
    background: #FFF;
    color: #2E2F42;
}
.categories {
    height: 840px;
    width: 392px;
    display: inline-flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: #FFF;
}
.item {
    /* height: 232px; */
    /* width: 360px; */
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    border-radius: 8px;
    background: #F6F6FE;
    margin-bottom: 24px;

}
li {
    list-style-type: none;
}
.cards {
    width: 360px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #808080;
    margin-bottom: 8px;
}
ul {
    margin-left: 0;
    padding-left: 0;
}

h2 {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.33em;
    letter-spacing: 0.96px;
    margin: 0;
}
.list {
    margin-bottom: 8px;
}
.gallery {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    gap: 48px 24px;
    /* margin: 100px 156px; */
    /* width: calc((100% - 48px) / 2); */
  }
  
.gallery img {
    width: 360px;
    height: 300px;
    flex-shrink: 0;
    display: flex;
    
  }
.widget {
    display: inline-flex;
    padding: 100px 156px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    border-radius: 8px;
    background: #FFF;
}
.color {
    width: 169px;
    height: 24px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: 0.64px;
    margin: 0;
}
.change-color {
    width: 148px;
    height: 40px;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.64px;
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #4E75FF;
    border: 0;
}

p {
    margin: 0;
    width: 169px;
    height: 24px;
}

.c {
    display: inline-flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    border-radius: 8px;
}

.box {
    display: flex;
    padding: 32px;
    align-items: flex-start;
    gap: 16px;
    border-radius: 8px;
    background: #F6F6FE;
}

.input{
    width: 150px;
    height: 40px;
display: flex;
padding: 8px 72px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 8px;
border: 1px solid #808080;
}
.create {
    display: flex;
width: 120px;
padding: 8px 16px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 8px;
background: #4E75FF;
border: 0;
color: #FFF;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5em; /* 150% */
letter-spacing: 0.64px;
}

.destroy {
    display: flex;
width: 120px;
padding: 8px 16px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 8px;
border: 0;
background: #FF4E4E;
color: #FFF;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5em; /* 150% */
letter-spacing: 0.64px;
}